<launch>

  <arg name="model" default="$(find pycram)/arm.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">
      - /arm_joint_states
    </rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="base_link_publisher" pkg="tf2_ros" type="static_transform_publisher"
        args="0 0 0 0 0 0 1 map base_link" />

<!--   <node name="buffer_server" pkg="tf2_ros" type="buffer_server" />
 -->
</launch>
